<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- @BeforeSuite -->
<suite name="TestAll" parallel="tests" thread-count="9">

    <!--  @BeforeTest -->
    <!--	 <test name="test1">-->
    <!--		<classes>-->
    <!--&lt;!&ndash;			 @BeforeClass&ndash;&gt;-->
    <!--			<class name="com.TechM.TestNG.TestNG1" />-->
    <!--		</classes>-->
    <!--	</test>-->
    <!--  @AfterTest -->

    <!-- parameterizing -->
    <test name="test1">
        <parameter name="browser" value="Chrome"></parameter>
        <parameter name="url" value="https://www.google.co.in"></parameter>
        <classes>
            <class name="com.TechM.TestNG.TestNG5"/>
        </classes>
    </test>
    <!--		<test name="test2">-->
    <!--            <parameter name="browser" value="ie"></parameter>-->
    <!--            <parameter name="url" value="https://www.att.com"></parameter>-->
    <!--            <classes><class name="com.TechM.TestNG.TestNG5" /></classes>-->
    <!--        </test>-->

    <test name="test3">
        <classes>
            <class name="com.TechM.TestNG.check"/>
        </classes>
    </test>
    <test name="test4">
        <classes>
            <class name="com.TechM.TestNG.check"/>
        </classes>
    </test>

    <!-- Grouping -->

    <test name="test5">
        <groups>
            <run>
                <include name="pass"/>
            </run>
        </groups>
        <classes>
            <class name="com.TechM.TestNG.TestNG4"/>
        </classes>
    </test>

    <test name="test6">
        <groups>
            <run>
                <include name="fail"/>
            </run>
        </groups>
        <classes>
            <class name="com.TechM.TestNG.TestNG4"/>
        </classes>
    </test>
    <test name="test7">
        <classes>
            <class name="com.TechM.TestNG.check"/>
        </classes>
    </test>
    <test name="test8">
        <classes>
            <class name="com.TechM.TestNG.check"/>
        </classes>
    </test>
    <test name="test9">
        <classes>
            <class name="com.TechM.TestNG.check"/>
        </classes>
    </test>
    <!--	&lt;!&ndash; run j unit &ndash;&gt;-->

    <!--	 <test name="test4" junit="true">-->
    <!--		<classes>-->
    <!--			<class name="com.TechM.TestNG.jUnitTC" />-->
    <!--		</classes>-->
    <!--	</test> -->
</suite>


